---
layout: default
title: About
---

{% include header.html %}

<div class="container content h-full max-w-6xl mx-auto mb-auto px-6 py-12">
    <div class="max-w-3xl mx-auto">
        <section>
            <h2 class="block font-display font-semibold text-2xl md:text-3xl lg:text-4xl mb-5">
                Education
            </h2>

            <div class="leading-normal text-gray-900 text-lg md:text-xl">
                <h4 class="font-semibold text-xl md:text-2xl"><a name="University of Strathclyde"></a>University of Strathclyde (BSc)</h4>
                <span class="pt-4">September, 2018 - Current</span>
                <p class="pt-3 text-gray-700">I am a Computer Science student at University of Strathclyde, Glasgow. Particularly interested in Artificial Intelligence, Python and Haskell.</p>
            </div>
            <div class="leading-normal text-gray-900 text-lg md:text-xl mt-8">
                <h4 class="font-semibold text-xl md:text-2xl"><a name="University of Strathclyde"></a>High School of Mathematics and Natural Sciences</h4>
                <span class="pt-4">September, 2013 – June, 2018</span>
                <p class="pt-3 text-gray-700">Profile in advanced Mathematics and informatics. Graduated with a Diploma of Secondary Education – AAB Level (Excellent 5.74)</p>
            </div>
        </section>
        <section class="mt-10 pt-4 border-t border-gray-200">
            <h2 class="block font-display font-semibold text-2xl md:text-3xl lg:text-4xl mb-5">
                Training & Certifications
            </h2>
            <ul class="leading-normal text-gray-900 text-lg md:text-xl list-disc pl-6">
                <li>MTA: HTML5 Application Development Fundamentals</li>
                <li>IELTS Academic – C1</li>
                <li>Agile development by JPMorgan Chase & Co.</li>
            </ul>
        </section>
        <section class="mt-10 pt-4 border-t border-gray-200">
            <h2 class="block font-display font-semibold text-2xl md:text-3xl lg:text-4xl mb-5">
                Experience
            </h2>
            <div class="leading-normal text-gray-900 text-lg md:text-xl">
                <h4 class="font-semibold text-xl md:text-2xl"><a name="University of Strathclyde"></a>Freelance Software Developer</h4>
                <span class="pt-4">Feb, 2016 - Current</span>
                <p class="pt-3 text-gray-700">I have worked on various <a class="border-b border-red-500 font-semibold border-dashed hover:text-red-500" href="/projects">projects</a> for different clients.
            </div>
        </section>
        <section class="mt-10 pt-4 border-t border-gray-200">
            <h2 class="block font-display font-semibold text-2xl md:text-3xl lg:text-4xl mb-5">
                Personal Achievements
            </h2>
            <ul class="leading-normal text-gray-900 text-lg md:text-xl list-disc pl-6">
                <li>Prize for a best idea and presentation from the National Information Technology Competition (2016) in Bulgaria</li>
                <li>National Information Technology Competition (2016), Bulgaria – 6th place</li>
            </ul>
        </section>
    </div>
</div>

{% include contact_me.html %}