<section class="bg-blue-900 border-b border-gray-700">
    <div class="container mx-auto px-6 text-center py-20">
        <h2 class="mb-6 text-4xl font-extrabold text-center text-white">
            Interested in working together?
        </h2>
        <h3 class="my-4 text-2xl text-white">
            If you want to discuss a future or an ongoing project, feel free to drop me a line
        </h3>
        <a href="/contact"
            class="bg-white font-extrabold rounded-full mt-6 py-4 px-8 shadow-lg uppercase tracking-wider inline-block">
            Contact Me
        </a>
    </div>
</section>