<footer class="bg-blue-900 p-6">
    <div class="container leading-p max-w-6xl mx-auto p-6 text-center text-white">
        <p>
            © 2020 Nikolay Tsanov &nbsp;•&nbsp;
            <a href="http://twitter.com/NikolayTsanov" class="font-semibold">@ntsanov</a> &nbsp;•&nbsp;
            <a href="/blog/feed.atom" class="font-semibold">RSS</a>
        </p>
    </div>
</footer>

<script src="https://kit.fontawesome.com/6f1d483764.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

<script src="/assets/js/app.js"></script>
</body>
</html>