<footer class="bg-blue-900 p-6">
    <div class="container leading-p max-w-5xl mx-auto p-6 text-center text-white">
        <p>
            © 2020 Nikolay Tsanov &nbsp;•&nbsp;
            <a href="http://twitter.com/NikolayTsanov" class="font-semibold">Twitter</a> &nbsp;•&nbsp;
            <a href="https://www.linkedin.com/in/ntsanov/" class="font-semibold">Linkedin</a> &nbsp;•&nbsp;
            <!-- <a href="/blog/feed.atom" class="font-semibold">RSS</a> &nbsp;•&nbsp; -->
            <a href="javascript:window.Metomic('ConsentManager:show')" class="font-semibold">Manage Cookies</a>
        </p>
    </div>
</footer>

<script src="https://kit.fontawesome.com/6f1d483764.js" crossorigin="anonymous" defer></script>
<script src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous" defer></script>
<script src="/assets/js/app.js" defer></script>
</body>

</html>