<header class="bg-blue-900 bg-no-repeat bg-right w-full z-20">
    <div class="max-w-6xl mx-auto p-4 lg:py-8 text-lg">
        <div class="">
            <div class="flex flew-wrap justify-between md:content-center items-center">
                <a href="/" class="inline-block uppercase text-white font-semibold tracking-wide">
                    Tsanov <span class="text-red-500">.</span>
                </a>

                <div x-data="{ open: false }">
                    <button @click="open = true"
                        class="block md:hidden outline-none active:outline-none focus:outline-none text-white js-menu-trigger">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24"
                            viewBox="0 0 24 24" style=" fill:currentColor;">
                            <path
                                d="M 0 2 L 0 4 L 24 4 L 24 2 Z M 0 11 L 0 13 L 24 13 L 24 11 Z M 0 20 L 0 22 L 24 22 L 24 20 Z">
                            </path>
                        </svg>
                    </button>

                    <div :class="{'expanded' : open === true}"
                        class="nav-target js-nav-target md:block fixed md:relative top-0 left-0 bg-blue-900 md:bg-transparent h-full md:h-auto w-full md:w-auto p-4 md:p-0">
                        <div class="text-right">
                            <button @click="open = false"
                                class="js-nav-quit inline-block md:hidden outline-none active:outline-none focus:outline-none">
                                <svg width="28" height="28" viewBox="0 0 24 24" version="1.1"
                                    class="fill-current text-white" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
                                    xmlns:serif="http://www.serif.com/">
                                    <g>
                                        <path d="M2.808,19.778l1.414,1.414l16.97,-16.97l-1.414,-1.414l-16.97,16.97Z"
                                            style="fill-rule:nonzero;"></path>
                                        <path d="M4.222,2.808l-1.414,1.414l16.97,16.97l1.414,-1.414l-16.97,-16.97Z"
                                            style="fill-rule:nonzero;"></path>
                                    </g>
                                </svg> </button>
                        </div>

                        <div class="flex flex-col md:flex-row text-lg md:text-base">
                            <a href="/"
                                class="align-middle inline-block p-2 md:p-4 font-semibold text-white hover:text-red-500 uppercase tracking-wide">
                                Home
                            </a>
                            <a href="/blog"
                                class="align-middle inline-block p-2 md:p-4 font-semibold text-white hover:text-red-500 uppercase tracking-wide">
                                Blog
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-8 md:py-16 text-white text-3xl md:text-5xl">
            <div class="font-display font-extrabold inline-block align-middle">
                <h1>
                    {{ page.title }}
                </h1>
            </div>
        </div>
    </div>
</header>