<!doctype html>
<html class="no-js" lang="en-US">

<head>
  <script src="https://config.metomic.io/config.js?id=prj:001fb88f-a81d-4eff-a921-05be9a6c373d" crossorigin charset="utf-8"></script>
  <script src="https://consent-manager.metomic.io/embed.js" crossorigin charset="utf-8"></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nikolay Tsanov - {{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="https://use.typekit.net/tzd5hjy.css">
  <link rel="stylesheet" href="/assets/css/style.css?v=0.2">
  <meta name="description" content="A full-stack web developer with experience in Laravel and solid background in frontend development.">
  <meta name="author" content="Nikolay Tsanov">
  <meta name="keywords" content="HTML, CSS, JavaScript, Laravel, Algolia, VueJS, PHP, TailwindCSS, Symfony, Wordpress, Web Developer, Software Developer, Software Engineer">

  <link rel="icon" href="/assets/images/favicon.ico?v=1" type="image/x-icon" />
  <link rel="shortcut icon" href="/assets/images/favicon.ico?v=1" type="image/x-icon" />

  {% include analytics.html %}

</head>

<body class="flex flex-col min-h-screen antialiased">
