<!doctype html>
<html class="no-js" lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nikolay Tsanov - Web Developer</title>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css?v=0.2">
  <meta name="description" content="A full-stack web developer with experience in Laravel and solid background in frontend development.">
  <meta name="author" content="Nikolay Tsanov">
  <meta name="keywords" content="HTML, CSS, JavaScript, Laravel, Algolia, VueJS, PHP, TailwindCSS, Symfony, Wordpress, Web Developer, Software Developer, Software Engineer">

  <link rel="icon" href="/assets/images/favicon.ico?v=1" type="image/x-icon" />
	<link rel="shortcut icon" href="/assets/images/favicon.ico?v=1" type="image/x-icon" />
</head>

<body class="font-body min-h-screen antialiased">
