<!doctype html>
<html class="no-js" lang="en-US" style="font-size: 16px;">

<head>
  <script src="https://config.metomic.io/config.js?id=prj:5bbdee0c-6eca-49de-b165-c7aba251f882" crossorigin
    charset="utf-8"></script>
  <script src="https://consent-manager.metomic.io/embed.js" crossorigin charset="utf-8"></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {%if page.title %}
      {{ page.title }} - Nikolay Tsanov
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>
  <link rel="stylesheet" href="https://use.typekit.net/tzd5hjy.css">
  <link rel="stylesheet" href="/assets/css/style.css?v=0.2">
  <meta itemprop="description" name="description"
    content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
  <meta name="author" content="Nikolay Tsanov">

  {% if page.tags %}
  <meta name="keywords" content="{{ page.tags | join: ', ' | escape }}">
  {% endif %}

  <meta name="theme-color" content="#23283a">
  {% feed_meta %}

  <link rel="icon" href="/assets/images/favicon.ico?v=2" type="image/x-icon" />
  <link rel="shortcut icon" href="/assets/images/favicon.ico?v=2" type="image/x-icon" />

  {% include analytics.html %}

  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Person",
      "name": "Nikolay Tsanov",
      "url": "http://ntsanov.com/",
      "image": "https://ntsanov.com/assets/images/me-300x300.jpg",
      "sameAs": [
        "https://twitter.com/NikolayTsanov",
        "https://www.linkedin.com/in/ntsanov/",
        "https://github.com/niktsanov"
      ],
      "description": "A full-stack web developer with experience in Laravel and solid background in frontend development.",
      "jobTitle": "Full-Stack Web Developer"
    }
    </script>
</head>

<body class="flex flex-col min-h-screen antialiased">