<div class="w-full bg-gray-100 shadow-md rounded p-8 sm:p-10 mt-12 mb-8 border-b-4 border-blue-900">
    <div class="flex items-center flex-col sm:flex-row mb-4">
        <div class="w-full sm:w-1/2">
            <h2 class="mt-0">Let's stay in touch</h2>
            <p class="text-lg">Sign up for my newsletter and I will let you know about more content and new projects.
            </p>
        </div>
        <div class="w-full sm:w-1/2 ">
            <form
                action="https://ntsanov.us18.list-manage.com/subscribe/post?u=0c6d3e346535dc283d2898df4&amp;id=2f29fa6aed"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <div class="mb-4">
                    <label for="mce-EMAIL" class="block text-grey-darkest text-sm font-bold mb-2" for="email">
                        E-Mail <span class="text-red-600">*</span>
                    </label>
                    <input name="EMAIL" id="mce-EMAIL"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-dark" type="email"
                        placeholder="Your E-Mail" required="required">
                </div>
                <div class="mb-4">
                    <label class="block text-grey-darkest text-sm font-bold mb-2" for="mce-FNAME">
                        First name
                    </label>
                    <input name="FNAME" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-dark"
                        id="mce-FNAME" type="text" placeholder="Your first name">
                </div>
                <div class="flex items-center justify-between">
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                            name="b_0c6d3e346535dc283d2898df4_2f29fa6aed" tabindex="-1" value=""></div>
                    <button class="bg-blue-900 text-white font-bold py-2 px-4 rounded" type="submit">
                        Subscribe
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>